body{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.stopwatch{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border: 2px solid black;
  padding: 30px;
  border-radius: 30px;
  align-items: center;
  font-family: monospace;
}
.display{
  font-size: 5em;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 4px hsl(0, 0%, 0.75%);
  margin-bottom: 25px;
}
.controls button{
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  min-width: 125px;
  transition: background-color 0.5s ease;
}
.start-button{
  background-color: hsl(120, 70%, 40%);
}
.start-button:hover{
  background-color: hsl(120, 70%, 30%);
}
.stop-button{
  background-color: hsl(0, 70%, 40%);
}
.stop-button:hover{
  background-color: hsl(0, 70%, 30%);
}
.reset-button{
  background-color: hsl(240, 70%, 40%);
}
.reset-button:hover{
  background-color: hsl(240, 70%, 30%);
}
